form {
    display: flex;
    justify-content: center;
}

.form__input {
    width: 22rem;
    border-radius: 22px;
    padding: 15px;
    font-size: 1rem;
    color: #fff;
    outline: none;
    border: 2px solid rgba( 255, 255, 255, 0.18);
}

.form__input::placeholder {
    color: rgba(255, 255, 255, 0.808);
}

.form__btn {
    padding: 13px;
    margin-left: 10px;
    border-radius: 100%;
    color: #fff;
    border: none;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 84vw;
    margin-bottom: 20px;
  }
}